@charset "utf-8";
/* CSS Document */

body, html {
	height: 100%;
	margin: 0;
}

body {
	background-color: #264549;
	color: #fff;
}

h2 {
	font-family: ltc-broadway, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 100px;
}

h3 {
	font-family: ltc-broadway, sans-serif;
	font-size: 60px;
	display: inline;
}

p {
	font-family: 'Dosis', sans-serif;
}


.hidden {
	display: none;
}

#container {
	display: flex;
	flex-direction: column;
}

.background {
	/*background: url(../images/bg.jpg) no-repeat center;
	background-size: cover;*/
}

#content {
	/*background: url(../images/background.png) no-repeat;
	background-size: cover;*/
	display: flex;
	margin: auto;
}


#headerAndBio {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	margin-left: 40px;
}

#headerAndBio h2 {
	padding: 20px 30px;
	margin-top: 0;
	margin-bottom: 0;
}

#intro {
	font-family: ltc-broadway, sans-serif;
	font-size: 20px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: 40px;
	width: 440px;
}

#bio-text {
	margin: 120px 40px;
	margin-bottom: 0;
	padding-right: 320px;
	font-size: 18px;
	line-height: 25px;
}

/*#bio {
	background: url(../images/background.png) no-repeat;
	background-size: cover;
	display: flex;
	margin: auto;
}*/

#photo-name {
	display: flex;
	flex-direction: column;
	margin-right: 120px;
	margin-top: 140px;
}

#photo-small {
	position: absolute;
	top: 125px;
	right: 80px;
	cursor: pointer;
	transition: all .5s ease;
}

#photo-small:hover {
	opacity: .5;
}

#photo-large {
	border-radius: 400px;
}

#name {
	margin-top: 60px;
	line-height: 50px;
	text-align: center;
}

#footer {
	margin-top: 80px;
	text-align: right;
	font-size: 10px;
	padding: 20px 10px 10px 10px;
	/*background-color: #283031;*/
	background-color: #373737;
}