@charset "utf-8";
/* CSS Document */

body, html {
	height: 100%;
	margin: 0;
}

body {
	color: #fff;
}

h2 {
	font-family: ltc-broadway, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 100px;
}

h3 {
	font-family: ltc-broadway, sans-serif;
	font-size: 50px;
	display: inline;
}

p {
	font-family: Helvetica, Arial, san-serif;
	font-size: 12px;
}


.hidden {
	display: none;
}

#container {
	display: flex;
	flex-direction: column;
}

.background {
	background: url(../images/background.jpg) no-repeat center;
	background-size: cover;
}

#header {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

#header h2 {
	padding: 30px;
	margin-top: 0;
	margin-bottom: 0;
}

#header p {
	font-family: ltc-broadway, sans-serif;
	font-size: 24px;
	margin-top: 0;
	margin-right: auto;
	margin-left: 40px;
	width: 420px;
}

#bio {
	display: flex;
}

#photo-name {
	display: flex;
	flex-direction: column;
	margin-left: 40px;
}

#photo-small {
	background-color: #ccc;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 320px;
	left: 50px;
}

#photo-large {
	width: 300px;
	margin-top: 150px;
	border-radius: 400px;
}

#name {
	text-align: center;
	padding: 10px;
}

#bio-text {
	padding: 50px;
}

#footer {
	text-align: center;
	font-size: 10px;
	margin-top: 40px;
}